@model MoneySaving.Models.MAmc

@{
    ViewData["Title"] = "Delete assets management";
}

<h2>Delete assets management</h2>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UniqueId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UniqueId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameTh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameTh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameEn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusFlag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusFlag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
