@model IEnumerable<MoneySaving.Models.FundPort>

@{
    ViewData["Title"] = "Port";
}

<div class="mb-4">
    <h2>Port</h2>
    <a class="mr-2" asp-action="Create">Create</a>
    <a class="mr-2" asp-controller="FundSummary" asp-action="Index">Back to Fund</a>
</div>

<div class="mb-4">
    <div class="table-responsive-sm">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastUpdate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastUpdate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
