@*@model IEnumerable<MoneySaving.Models.MainTransaction>*@
@model MoneySaving.Models.MainViewModel

@{
    ViewData["Title"] = "Income and Expense";
}
<div class="mb-4">
    <h2>Income and Expense</h2>
    <a class="mr-2" href="~/MainTransactions/Create?CashflowTypeId=1">Income</a>
    <a class="mr-2" href="~/MainTransactions/Create?CashflowTypeId=2">Expense</a>
    <a class="mr-4" href="~/MainTransactions/Transfer">Transfer</a>
    <a class="mr-2" asp-controller="MPockets" asp-action="Index">Pockets</a>
    <a class="mr-2" asp-controller="MCategories" asp-action="Index">Categories</a>
</div>

<div class="mb-4">
    <h4>Balance</h4>
    <div class="table-responsive-sm">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Pocket</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Pockets)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Balance)</td>                      
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="font-weight-bold table-warning">
                    <td>Total</td>
                    <td>
                        @{
                            double sumVal = 0;

                            for (var i = 0; i < Model.Pockets.Count; i++)
                            {
                                sumVal += Model.Pockets[i].Balance;
                            }
                            @Html.Raw(sumVal.ToString("C2"))
                        }
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="mb-4">
    <h4>Transaction</h4>
    <form asp-controller="MainTransactions" asp-action="Index" method="get" class="mb-2">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <select asp-for="QueryYear" asp-items="Model.YearSelectList" class="form-control form-control-sm">
                    <option value="ALL">All</option>
                </select>
            </div>
            <div class="col-auto">
                <select asp-for="QueryMonth" asp-items="Model.MonthSelectList" class="form-control form-control-sm">
                    <option value="ALL">All</option>
                </select>
            </div>
            <div class="col-auto">
                <select asp-for="QueryPocket" asp-items="Model.PocketsSelectList" class="form-control form-control-sm">
                    <option value="">All</option>
                </select>
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-sm btn-primary" value="Filter" />
            </div>
        </div>
    </form>
    <div class="table-responsive-sm">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.MainTransactions[0].TransactionDate)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.MainTransactions[0].MPocket)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.MainTransactions[0].MCategory)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MainTransactions[0].Detail)
                    </th>
                    <th class="text-success text-right">
                        Income
                    </th>
                    <th class="text-danger text-right">
                        Expense
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MainTransactions)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.TransactionDate)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.MPocket.Name)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.MCategory.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Detail)
                        </td>
                        @if (item.MCategory.CashflowTypeId == 1)
                        {
                            <td class="text-success font-weight-bold text-right">@Html.DisplayFor(modelItem => item.Amount)</td>
                            <td></td>
                        }
                        else
                        {
                            <td></td>
                            <td class="text-danger font-weight-bold text-right">@Html.DisplayFor(modelItem => item.Amount)</td>
                        }
                        <td class="text-center">
                            <a asp-action="Delete" asp-route-id="@item.ID">delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>