@*@model IEnumerable<MoneySaving.Models.FundTransaction>*@
@model MoneySaving.Models.MainFundTransaction

@{
    ViewData["Title"] = "Fund transaction";
}

<div class="mb-4">
    <h2>Fund transaction</h2>
    <a class="mr-2" asp-action="Create">Create</a>
    <a class="mr-2" asp-controller="FundSummary" asp-action="Index">Back to Fund</a>
</div>

<form asp-action="Index" method="get">
    <div class="form-group">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <select asp-for="QueryFundPortId" asp-items="Model.PortSelectListFilter" class="form-control form-control-sm">
                    <option value="">-- All --</option>
                </select>
            </div>
            @*<div class="col-auto">
                <select asp-for="QueryFundKeyword" asp-items="Model.FundSelectListFilter" class="form-control form-control-sm">
                    <option value="">-- All --</option>
                </select>
            </div>*@
            <div class="col-auto">
                <input type="submit" class="btn btn-sm btn-outline-secondary" value="Search" />
            </div>
        </div>
    </div>
</form>

<div class="mb-4">
    <div class="table-responsive-sm">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FundTransactions[0].FundPort)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FundTransactions[0].TransactionDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FundTransactions[0].MFund)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FundTransactions[0].MFundFlowType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FundTransactions[0].Cost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FundTransactions[0].Nav)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FundTransactions[0].Units)
                    </th>
                    @*<th>
            @Html.DisplayNameFor(model => model.FundTransactions[0].NavConfirmed)
        </th>*@
                    @*<th>
                        @Html.DisplayNameFor(model => model.FundTransactions[0].LastUpdate)
                    </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FundTransactions)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FundPort.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MFund.Abbr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MFundFlowType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nav)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Units)
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.NavConfirmed)
        </td>*@
                    @*<td>
                        @Html.DisplayFor(modelItem => item.LastUpdate)
                    </td>*@
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>