@model MoneySaving.Models.Salary.MSalary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MSalary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Overtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Overtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Incentive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Incentive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diligence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diligence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Food)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Food)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehicle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Award)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Award)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PVD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PVD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MSalaryType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MSalaryType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
