@model IEnumerable<MoneySaving.Models.MCategory>

@{
    ViewData["Title"] = "Categories";
}

    <div class="mb-4">
        <h2>Categories</h2>
        <a class="mr-2" asp-action="Create">Create</a>
        <a class="mr-2" asp-controller="MainTransactions" asp-action="Index">Go back</a>
    </div>

<div class="table-responsive-sm">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusFlag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastUpdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CashflowType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusFlag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CashflowType.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>