@model IEnumerable<MoneySaving.Models.DailyNav>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
    <a asp-action="UpdateNav">Update NAV</a>
</p>
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nav_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MFund)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.net_asset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last_val)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.previous_val)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nav_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MFund.Abbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.net_asset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_val)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.previous_val)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
